<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>Edit Product</h1>
    <%= render "form", product: @product %>
    <%= link_to "Back", product_path(@product), class: "btn btn-secondary mt-3" %>
  </div>
</div>